@import '../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar';

.word-wrap {
    word-wrap: break-word;
}

// Shadow
.depth-1 {
    box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.4);
}

.depth-2 {
    box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.4);
}

.depth-3 {
    box-shadow: 0px 15px 20px 0 rgba(0,0,0,0.4);
}

.depth-4 {
    box-shadow: 0px 20px 20px 0 rgba(0,0,0,0.4);
}

// Transitions

.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}

// Variables
$blue-primary: #1fc8db;
